.chat_container {
    height: 79vh;
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    border: 1px solid black;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 20px;
}
.channel_chat {
    height: 90%;
    overflow-y: scroll;
}

.logout{
    position: fixed;
    right: 12%;
    top: 6.5%;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: all 0.5s;

}

.logout_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background:transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.logout:hover {
    background-color: red;
    transform: scale(1.1);
}

.message_box{
    width: 50%;
    background: linear-gradient(to right, #f0fa65, #61dfff75);
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    padding-top: 0;
}

.chat_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px dotted black;
}

.sender, .time {
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message{
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}
.chat_form {
    height: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 4px;
    margin-left: 3px;
    margin-top: 2px;
}


.chat_input {
    width: 80%;
    margin-left: 3%;
    border: 1px solid tomato;
    background: transparent;
    border-radius: 20px;
}

.send_btn {
    margin-right: 3%;
    background: transparent;
    cursor: pointer;
    border: 1px solid tomato;
    border-radius: 20%;
    transition: all 0.5s;
}
.send_btn:hover{
    background-color: green;
    border: 1px solid green;
}

.no_chat {
    text-align: center;
    border: 1px solid yellow;
    color: tomato;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    background: linear-gradient(to Right, #61dfff75, #f0fa65);
}

@media screen and (max-width:700px){
    .logout{
        right: 5%;
    }
}
