.bg {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../../components/images/banner.jpg');
    background-position: center;
    /* background-color: red ; */
    background-size: cover;
    position: absolute;
}
.container {
    width: 80vw;
    background-color: wheat;
    height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    box-shadow: 10px 10px 30px black;
    border: 1px solid black;
}

.collaps_btn {
    position: fixed;
    /* display: none; */
    top: 10%;
    left: 10%;
}

.username {
    position: fixed;
    /* top: 10%; */
    /* left: 5%; */
    margin-top: 25px;
    margin-left: 10px;
    border: 1px solid blue;
    text-transform: capitalize;
    padding: 3px;
}

#left {
    background-color: rgb(160, 252, 147);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#right {
    display: flex;
    flex-direction: column;
}

.channel_top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    margin: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted white;
    width: 100%;
    cursor: pointer;
}
.channel_down {
    overflow-x: hidden;
    overflow-y: auto;
    height: 75vh;
}

.chat_top {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    /* margin: 50px; */
    border-bottom: 1px dotted tomato;
    width: 100%;
    padding: 25px;
}
.search {
    display: flex;
    justify-content: space-between;
}
.search_input {
    width: 100%;
    /* background-color: rebeccapurple; */
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}
.search_btn {
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}
.search_btn:hover {
    /* background-color: white; */
    color: coral;
    border: 1px solid coral;
}

@media screen and (max-width: 700px) {
    .container {
        width: 95vw;
        /* height: 100vh; */
        display: flex;
    }
    #left {
        height: 90vh;
    }
}
