.container {
    width: 80vw;
    background-color: wheat;
    height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.left {
    background-color: rgb(160, 252, 147);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.right {
    display: flex;
    flex-direction: column;
}

.channel_top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted white;
    width: 100%;
}
.channel_down {
    overflow-x: hidden;
    overflow-y: auto;
    height: 75vh;
}

.chat_top {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    /* margin: 50px; */
    border-bottom: 1px dotted tomato;
    width: 100%;
    padding: 25px;
}

@media screen and (max-width: 700px) {
    .container {
        width: 95vw;
        height: 100vh;
    }
    .left {
        height: 90vh;
    }
    
}
